
.add{
    border:1px solid black;
    width:846px;
    margin-left:126px;
}
.tanamdeboba-add{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 8px 24px;
    gap: 8px;
    width: 846px;
    height: 125px;
    left: calc(50% - 846px/2 - 411px);
    top: 157px;
}
.tanamdeboba-add > label {
    width: 798px;
height: 21px;

font-family: 'Helvetica Neue';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 21px;
/* identical to box height, or 131% */

display: flex;
align-items: center;

color: #000000;


/* Inside auto layout */

flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
}
.tanamdeboba-add > input{
    box-sizing: border-box;

width: 798px;
height: 48px;

background: #FFFFFF;
border: 1px solid #BCBCBC;
border-radius: 4px;

/* Inside auto layout */

flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
}
.tanamdeboba-add > span {
    width: 798px;
height: 21px;

font-family: 'Helvetica Neue';
font-style: normal;
font-weight: 300;
font-size: 14px;
line-height: 21px;
/* identical to box height, or 150% */

display: flex;
align-items: center;

/* შავი/500 */

color: #2E2E2E;


/* Inside auto layout */

flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;
}

.employe-add{
    margin-top:20px;
    display: flex;
flex-direction: column;
align-items: flex-start;
padding: 8px 24px;
gap: 8px;


width: 846px;
height: 125px;

}
.employe-add > label {
    width: 798px;
height: 21px;

font-family: 'Helvetica Neue';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 21px;
/* identical to box height, or 131% */

display: flex;
align-items: center;

color: #000000;


/* Inside auto layout */

flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
}
.employe-add > input {
    box-sizing: border-box;

width: 798px;
height: 48px;

background: #FFFFFF;
border: 1px solid #BCBCBC;
border-radius: 4px;

/* Inside auto layout */

flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
}
.employe-add > span{
    width: 798px;
height: 21px;

font-family: 'Helvetica Neue';
font-style: normal;
font-weight: 300;
font-size: 14px;
line-height: 21px;
/* identical to box height, or 150% */

display: flex;
align-items: center;

/* შავი/500 */

color: #2E2E2E;


/* Inside auto layout */

flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;
}

.start-date-add{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 8px 24px;
    gap: 8px;
    
  
    width: 419px;
    height: 125px;
    left: calc(50% - 419px/2 - 624.5px);
    top: 431px;
    
}
.start-date-add > label{
    width: 371px;
height: 21px;

font-family: 'Helvetica Neue';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 21px;
/* identical to box height, or 131% */

display: flex;
align-items: center;

color: #000000;


/* Inside auto layout */

flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
}
.start-date-add > input{
    box-sizing: border-box;

width: 371px;
height: 48px;

background: #FFFFFF;
border: 1px solid #BCBCBC;
border-radius: 4px;

/* Inside auto layout */

flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
}
.end-date-add{
    display: flex;
flex-direction: column;
align-items: flex-start;
padding: 8px 24px;
gap: 8px;


width: 419px;
height: 93px;
left: calc(50% - 419px/2 - 197.5px);
top: 431px;

}
.end-date-add > label{
    width: 371px;
height: 21px;

font-family: 'Helvetica Neue';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 21px;
/* identical to box height, or 131% */

display: flex;
align-items: center;

color: #000000;


/* Inside auto layout */

flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
}
.end-date-add > input{
    box-sizing: border-box;

width: 371px;
height: 48px;

background: #FFFFFF;
border: 1px solid #BCBCBC;
border-radius: 4px;

/* Inside auto layout */

flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
}

.describe-add{
    display: flex;
flex-direction: column;
align-items: flex-start;
padding: 8px 24px;
gap: 8px;


width: 846px;
height: 168px;
left: calc(50% - 846px/2 - 411px);
top: 541px;
    

}
.describe-add > label{
    width: 798px;
height: 21px;

font-family: 'Helvetica Neue';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 21px;
/* identical to box height, or 131% */

display: flex;
align-items: center;

color: #000000;


/* Inside auto layout */

flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
}
.describe-add > textarea{
    box-sizing: border-box;

    width: 798px;
    height: 123px;
    
    background: #FFFFFF;
    border: 1px solid #BCBCBC;
    border-radius: 4px;
    
    /* Inside auto layout */
    
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 1;
}